body {
    background-color: aqua;
    height: 100vmin !important;
    width: 100% !important;    
}

.card {
    background-color: black;
    height: 40vmin !important;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 6px;
}


.icon {

    font-size: x-large;
}

.create {
    background-color: black;
    width: 50%;
    margin-top: 15%;   
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 6px;
    input {
        width: 76% !important;
        margin-left: 7% !important;
    }
}

@media only screen and (max-width: 768px) {
    .create {
        padding-top: 11% !important;
        background-color: aqua;
        margin-left: -10%;
        padding: 3% !important;
        background-color: black;
        input {
            width: 76% !important;
            margin-left: 7% !important;
        }
    }

}