.card1 {
    background-color: aqua;
    margin-top: 2% !important;
    padding: 9% !important;
    padding-top: 11% !important;
    background-color: black;
    width: 100% !important;
    color: whitesmoke!important;
    border-radius: 20px;
    box-shadow: 4px 4px 6px;

    input {
        width: 80% !important;
        margin-left: 7% !important;
    }

    button {
        margin-top: 5%;
       
    }
}

@media only screen and (max-width: 768px) {
    .card1 {
        padding-top: 11% !important;
        background-color: aqua;
        margin-top: 2% !important;
        padding: 8% !important;
        background-color: black;
        width: 100%;
        input {
            width: 70% !important;
            margin-left: 7% !important;
        }
    }

}